@charset "utf-8";

  *{margin: 0px;
       padding: 0px;
       }
       *{font-family: 'Poor Story', cursive
       }

       a{
           color: black;
           text-decoration: none;
       }

       .page-container{
           /*position: relative;*/
           min-height: 100%;
       }
       .maintop{
           background-color: #e1bee7;
           display: flex;
           height: 30vh;
           text-align: center;
       }
       .secontop{
           background-color: #c5cae9;
           display: flex;
           height: 30vh;
           text-align: center;
       }
       .imgb{
           width: 40px;
           height: 40px;
           margin-top: 5px;
       }
       .name{
           width : 300px;
           height :100px;
           font-color: #fff1ff;
           margin: auto;
           padding-top: 20px;
       }
       #topname{
           color: white;
       }
       .contents-wrap{
           /*min-height: 100%;*/
           /*position: relative;*/
           padding-top: 30vh;
           padding-bottom: 30px;
           text-align: center;
       }
       .div1{
           width: 100px;
           height: 100px;
           margin: 50px auto 50px auto;
           text-align: center;
       }
       .div2{
           width: 400px;
           height: 250px;
           margin: 20px auto 15px auto;
           font-size: 25px;
           text-align: left;
       }
       .div-add{
           width: 400px;
           height: 200px;
           margin: 100px auto 0px auto;
           font-size: 17px;
           text-align: left;
       }
       .div3{
           width: 400px;
           height: 250px;
           margin: 30px auto 15px auto;
           font-size: 25px;
           line-height: 2.5cm;
           text-align: center;
       }

       .foot{
           background-color: #af8eb5;
           width: 100%;
           height: 30px;
           margin-top: -30px;
           position: absolute;
           bottom:0;
           color: white;
       }
       .seconfoot{
           background-color: #9499b7;
           width: 100%;
           height: 30px;
           margin-top: -30px;
           position: absolute;
           bottom:0;
           color: white;
       }